@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  color: #000; 
  font-family: 'IBM Plex Sans', sans-serif, 'IBM Plex Mono', monospace!important;
}

* {
  box-sizing: border-box;
}


/* borders */

.cntnr-brdr {
  border-left: 1px solid #eaeaea!important;
  border-right: 1px solid #eaeaea!important;
}

.cntnr-brdr-op {
  border-left: 1px solid rgba(234, 234, 234, 0.2)!important;
  border-right: 1px solid rgba(234, 234, 234, 0.2)!important;
}

.brdr-lft {
  border-left: 1px solid #eaeaea;
}

.brdr-rght {
  border-right: 1px solid #eaeaea;
}

.brdr-tp {
  border-top: 1px solid #eaeaea;
}

.brdr-bttm {
  border-bottom: 1px solid #eaeaea;
}

.brdr-tp-dark {
  border-top: 1px solid #000;
}

.brdr-bttm-dark {
  border-bottom: 1px solid #000;
}

.brdr-lft-op {
  border-left: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-rght-op {
  border-right: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-rght-op-alt {
  border-right: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-tp-op {
  border-top: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-bttm-op {
  border-bottom: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-tp-white {
  border-top: 1px solid #eaeaea;
}

/* containers */

.vh-80 {
  height: 70vh;
}

.vh-70 {
  height: 70vh;
}

.vh-60 {
  height: 60vh;
}

.vh-50 {
  height: 50vh;
}

.vh-40 {
  height: 40vh;
}

.vh-30 {
  height: 30vh;
}

.vh-28 {
  height: 28vh;
}

.vh-25 {
  height: 25vh;
}

.vh-20 {
  height: 20vh;
}

.vh-15 {
  height: 15vh;
}

.vh-10 {
  height: 10vh;
}

.w-full {
  width: 100%!important;
  height: auto!important;
}

.h-full {
  height: 100%!important;
}

.footer-logo {
  width: 55px!important;
}

.footer-min {
  min-height: 32vh;
}

/* colours */

.dark-grey {
  color: #000!important;
 }

.bg-dark-grey {
  background-color: #000!important;
}

.grey {
  color: #c4c4c4!important;
 }

.bg-grey {
  background-color: #c4c4c4!important;
}

.light-grey {
  color: #c4c4c4!important;
 }

.bg-light-grey {
  background-color: #eaeaea!important;
}

.bg-x-light-grey {
  background-color: #f2f2f2!important;
}

.white {
  color: #fff!important;
}

.bg-white {
  color: #fff!important;
}

.red {
  color: #FF2A50!important;
}

.bg-red {
  background-color: #FF2A50!important;
}

.pink {
  color: #D73088!important;
 }

 .bg-pink {
  background-color: #D73088!important;
 }

 .purple {
   color: #8337F1!important;
 }

 .bg-purple {
  background-color: #8337F1!important;
  mix-blend-mode: multiply;
}

.bg-trans {
  background-color: transparent!important;
}

 .green {
  color: #41BDA7!important;
 }

 .bg-green {
  background-color: #41BDA7!important;
  mix-blend-mode: multiply;
 }

 .yellow {
  color: #FBEE51!important;
 }

 .bg-yellow {
  background-color: #FBEE51!important;
 }

 .bg-yellow-multiply {
  background-color: #FBEE51!important;
  mix-blend-mode: multiply;
 }

 .blue {
  color: #9EC8E5!important;
 }

 .bg-blue {
  background-color: #9EC8E5!important;
 }

 .op-5 {
  opacity: .5;
 }


 /* HRs */

hr, .hr {
  border-top: 1px solid #eaeaea!important;
  opacity: 1!important;
  background-color: transparent!important;
}

hr.dark, .hr.dark {
  border-top: 1px solid #000!important;
  opacity: 1!important;
  background-color: transparent!important;
}

hr.op, .hr.op {
  border-top: 1px solid #eaeaea!important;
  opacity: .2!important;
  background-color: transparent!important;
}

/* utilities and details */

.fixed {
  position: fixed;
}

.underline {
  text-decoration: underline!important;
}

.no-underline {
  text-decoration: none!important;
}

.z-999 {
  z-index: 999!important;
  position: relative;
}

.z-0 {
  z-index: 0!important;
}

.pntr {
  cursor: pointer!important;
}

.card-visual {
  min-height: 30vh;
  background-color: #9EC8E5;
}

.video-margin-fix {
  margin-bottom: -6.5px!important;
}

ul {
  list-style: none!important;
}

/* type */

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: .95rem!important;
  letter-spacing: .01rem;
  font-weight: 300!important;
  line-height: 1.3rem!important;
  margin-bottom: 10px!important;
}

.italic {
  font-style: italic;
}

.small {
  font-size: .85rem!important;
  line-height: 1.2rem!important;
  font-weight: 400!important;
}

.x-small {
  font-size: .7rem!important;
  line-height: 1rem!important;
}

p.lead {
  font-size: calc(1.1rem + 1vw)!important;
  line-height: calc(1.3rem + 1vw)!important;
}

.large {
  font-size: 18px!important;
}

.lead {
  font-size: calc(3.5rem + 1vw)!important;
  line-height: calc(3.75rem + 1vw)!important;
}

.light {
  font-weight: 200!important;
}

.regular {
  font-weight: 300!important;
}

.medium {
  font-weight: 400!important;
}

.semi-bold {
  font-weight: 500!important;
}

.bold {
  font-weight: 600!important;
}

.heavy {
  font-weight: 700!important;
}

.mono {
  font-family: 'IBM Plex Mono', monospace!important;
}

.uppercase {
  text-transform: uppercase;
}

h1, .h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(5rem + 1.5vw)!important;
  line-height: calc(5rem + 1.5vw)!important;
  letter-spacing: -0.045em!important;
}

h2, .h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(3.3rem + 1.5vw)!important;
  line-height: calc(3.6rem + 1.5vw)!important;
  letter-spacing: -0.045em!important;
}

h3, .h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(1.5rem + 1.5vw)!important;
  line-height: calc(1.5rem + 1.5vw)!important;
  letter-spacing: -0.015em!important;
}

h4, .h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.75rem!important;
  line-height: 1.75rem!important;
  letter-spacing: -0.015em!important;
}

h5, .h5 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3rem!important;
  line-height: 1.5rem!important;
  letter-spacing: -0.02em!important;
}

h6, .h6 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: .9rem!important;
}

/* forms */

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #9EC8E5!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0!important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 14px!important;
}


/* buttons */

.btn {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px!important;
  border-radius: 0px!important;
  display: inline-block;

  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn:hover {
  text-decoration: underline!important;
}

.btn-primary {
  color: #000!important;
  border: 0px!important;
  border-radius: 0px!important;
}

.btn-primary.large {
  font-size: 19px!important;
}

.btn-dark-bg {
  color: #eaeaea!important;
  border: 0px!important;
  border-radius: 0px!important;
}

a, .a {

  font-size: 16px!important;
  text-decoration: none!important;
}



a:hover, .a:hover {
  text-decoration: underline!important;
}

.arrow:after {
  content: url("/arrow-down.svg");
  position: relative;
  top: 0px;
  margin-left: 6px;
  display: inline-block;
  transform: rotate(270deg);
}

.arrow-white:after {
  content: url("/arrow-white.svg");
  margin-left: 10px;
  display: inline-block;
}

.arrow-white-large:after {
  content: url("/arrow-white-large.svg");
  margin-left: 30px;
  display: inline-block;
}

.arrow-dark-large:after {
  content: url("/arrow-dark-large.svg");
  margin-left: 30px;
  display: inline-block;
}

.arrow-down-white:after {
  content: url("/arrow-white.svg");
  margin-left: 5px;
  display: inline-block;
  transform: rotate(90deg);
}

.arrow-down:after {
  content: url("/arrow-down.svg");
  position: relative;
  top: 2px;
  margin-left: 3px;
  display: inline-block;
}

.arrow-up:after {
  content: url("/arrow-down.svg");
  position: relative;
  top: -2px;
  margin-left: 3px;
  display: inline-block;
  transform: rotate(180deg);
}

.link:after {
  content: url("/link.svg");
  position: relative;
  top: 2px;
  margin-left: 5px;
  display: inline-block;
}

.arrow-start:before {
  content: url("/l-arrow.svg");
  margin-right: 10px;
  display: inline-block;
  transform: rotate(180deg);
}

image.modern-illo {
  object-fit: fill!important;
  font-family: 'IBM Plex Mono', monospace!important;
}

.nowrap {
  white-space: nowrap;
}


/* large screens */

@media screen and (min-width: 1600px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(6rem + 1.5vw)!important;
    line-height: calc(6rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(4rem + 1.5vw)!important;
    line-height: calc(4.3rem + 1.5vw)!important;
  }

  

}

/* laptop */

@media screen and (max-width: 1024px){

  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(.8rem + 1.5vw)!important;
    line-height: calc(1rem + 1.5vw)!important;
    letter-spacing: -0.015em!important;
  }

}

/* tablet */

@media screen and (max-width: 768px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(3.5rem + 1.5vw)!important;
    line-height: calc(3.5rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }


  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(.8rem + 1.5vw)!important;
    line-height: calc(1rem + 1.5vw)!important;
  }

}

/* mobile */

@media screen and (max-width: 576px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(3.5rem + 1.5vw)!important;
    line-height: calc(3.5rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }



  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(1.1rem + 1.5vw)!important;
    line-height: calc(1.1rem + 1.5vw)!important;
  }

  h4, .h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 21px!important;
    line-height: 21px!important;
    letter-spacing: -0.015em!important;
  }

  .lead {
    font-size: calc(2.7rem + 1vw)!important;
    line-height: calc(3.2rem + 1vw)!important;
  }


  .brdr-rght {
    border-right: none!important;
  }

  .brdr-rght-op {
    border-right: none!important;
  }
  
}