@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  color: #000; 
  font-family: 'IBM Plex Sans', sans-serif, 'IBM Plex Mono', monospace!important;
}

* {
  box-sizing: border-box;
}



/* borders */

.cntnr-brdr {
  border-left: 1px solid #eee!important;
  border-right: 1px solid #eee!important;
}

.cntnr-brdr-op {
  border-left: 1px solid rgba(234, 234, 234, 0.2)!important;
  border-right: 1px solid rgba(234, 234, 234, 0.2)!important;
}

.brdr-lft {
  border-left: 1px solid #eee;
}

.brdr-lft-mob {
  border-left: 1px solid #eee;
}

.brdr-rght-lg {
  border-right: 1px solid #eee;
}

.brdr-rght {
  border-right: 1px solid #eee;
}

.brdr-tp {
  border-top: 1px solid #eee;
}

.brdr-bttm {
  border-bottom: 1px solid #eee;
}

.brdr-tp-dark {
  border-top: 1px solid #000;
}

.brdr-bttm-dark {
  border-bottom: 1px solid #000;
}

.brdr-lft-op {
  border-left: 1px solid rgba(234, 234, 234, 0.2);
}

.bg-stripes {
  background:
    linear-gradient(#eee 0 0) calc(1*99.8%/4),
    linear-gradient(#eee 0 0) calc(2*100%/4),
    linear-gradient(#eee 0 0) calc(3*100.1%/4);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}

.bg-stripes-2 {
  background:
    linear-gradient(#eee 0 0) calc(1*100.1%/6),
    linear-gradient(#eee 0 0) calc(2*100%/6),
    linear-gradient(#eee 0 0) calc(3*100%/6),
    linear-gradient(#eee 0 0) calc(4*100.1%/6),
    linear-gradient(#eee 0 0) calc(5*100%/6);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}

.bg-stripes-3 {
  background:
    linear-gradient(#eee 0 0) calc(1*99.8%/4),
    linear-gradient(#eee 0 0) calc(2*100%/4),
    linear-gradient(#eee 0 0) calc(3*100.1%/4);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}

.bg-stripes-4 {
  background:
    linear-gradient(#eee 0 0) calc(1*100.1%/2);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}

.bg-stripes-footer {
  background:
    linear-gradient(#eee 0 0) calc(1*100.1%/6),
    linear-gradient(#eee 0 0) calc(2*100%/6),
    linear-gradient(#eee 0 0) calc(3*100%/6),
    linear-gradient(#eee 0 0) calc(4*100.1%/6),
    linear-gradient(#eee 0 0) calc(5*100%/6);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}

.multiply {
  mix-blend-mode: multiply;
}

/* containers */

.vh-95 {
  height: 95vh;
}

.vh-90 {
  height: 90vh;
}

.vh-80 {
  height: 80vh;
}

.vh-75 {
  height: 75vh;
}

.vh-70 {
  height: 70vh;
}

.vh-65 {
  height: 65vh;
}

.vh-60 {
  height: 60vh;
}

.vh-50 {
  height: 50vh;
}

.vh-45 {
  height: 45vh;
}

.vh-40 {
  height: 40vh;
}

.vh-35 {
  height: 35vh;
}

.vh-30 {
  height: 30vh;
}

.vh-28 {
  height: 28vh;
}

.vh-25 {
  height: 25vh;
}

.vh-20 {
  height: 20vh;
}

.vh-15 {
  height: 15vh;
}

.vh-10 {
  height: 10vh;
}

.w-66 {
  width: 66.5%!important;
  height: auto!important;
}

.w-40 {
  width: 40%!important;
  height: auto!important;
}

.w-full {
  width: 100%!important;
  height: auto!important;
}

.h-full {
  height: 100%!important;
}

/* colours */

.dark-grey {
  color: #000!important;
 }

.grey {
  color: #c4c4c4!important;
 }

.bg-grey {
  background-color: #c4c4c4!important;
}

.light-grey {
  color: #c4c4c4!important;
 }

.white {
  color: #fff!important;
}

.bg-white {
  color: #fff!important;
}

.red {
  color: #FF2A50!important;
}

.bg-red {
  background-color: #FF2A50!important;
}

.bg-trans {
  background-color: transparent!important;
}

 .green {
  color: #41BDA7!important;
 }

 .bg-green {
  background-color: #41BDA7!important;
  mix-blend-mode: multiply;
 }

 .yellow {
  color: #FBEB5C!important;
 }

 .bg-yellow {
  background-color: #FBEB5C!important;
 }

 .bg-yellow-multiply {
  background-color: #FBEB5C!important;
  mix-blend-mode: multiply;
 }

 .blue {
  color: #2AB2FF!important;
 }

 .bg-blue {
  background-color: #2AB2FF!important;
 }

 /* HRs */

hr, .hr {
  border-top: 1px solid #eee!important;
  opacity: 1!important;
  background-color: transparent!important;
}

hr.dark, .hr.dark {
  border-top: 1px solid #000!important;
  opacity: 1!important;
  background-color: transparent!important;
}

hr.blue, .hr.blue {
  border-top: 1px solid #2AB2FF!important;
  opacity: 1!important;
  background-color: transparent!important;
}

hr.red, .hr.red {
  border-top: 1px solid #FF2A50!important;
  opacity: 1!important;
  background-color: transparent!important;
}

hr.op, .hr.op {
  border-top: 1px solid #eee!important;
  opacity: .2!important;
  background-color: transparent!important;
}

/* utilities and specs */


.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 0rem!important;
  --bs-modal-margin: 0rem!important;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0!important;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: 0!important;
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 0rem 1rem 0rem 0rem!important;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0rem!important;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-content {
  border-radius: 0!important;
}

.header-pad {
  padding: 0px 1px!important;
}

.pad-rght {
  padding-right: 25%;
}

.copy-btn {
  width: 44px!important;
}

#home {
  z-index: 1!important;
}

.carousel-control-next, .carousel-control-prev {
  mix-blend-mode: multiply!important;
  z-index: 0!important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 3rem!important;
  height: 3rem!important;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-next-icon {
    background-image: url("/circle-arrow.svg")!important;
    transform: rotate(0deg);
}

.carousel-control-prev-icon {
    background-image: url("/circle-arrow.svg")!important;
    transform: rotate(180deg);
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
  filter: none!important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #FF2A50!important;
}

.hero-specs {
  margin-bottom: -7px!important;
  margin-right: -2px!important;
  mix-blend-mode: multiply;
}

.footer-logo {
  width: 42px!important;
}

.header-logo {
  width: 42px!important;
}

.footer-min {
  min-height: 46vh;
}

.h-top-nav {
  height: 90px;
}

.fixed {
  position: fixed;
}

.underline {
  text-decoration: underline!important;
}

.no-underline {
  text-decoration: none!important;
}

.z-999 {
  z-index: 999!important;
  position: relative;
}

.z-0 {
  z-index: 0!important;
}

.pntr {
  cursor: pointer!important;
}

.card-visual-1 {
  height: 20vh;
}

.card-visual-2 {
  height: 20vh;
}

.card-visual-3 {
  height: 20vh;
}

.video-margin-fix {
  margin-bottom: -6.5px!important;
}

/* type */

ul {
  list-style: none!important;
}

ul.dots {
  list-style:circle!important;
}

li {
  font-family: 'Inter', sans-serif;
  font-size: .9rem!important;
  letter-spacing: .01rem;
  font-weight: 300!important;
  line-height: 1.3rem!important;
  margin-bottom: 5px!important;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: .9rem!important;
  letter-spacing: .01rem;
  font-weight: 300!important;
  line-height: 1.3rem!important;
  margin-bottom: 10px!important;
}

.italic {
  font-style: italic;
}

.small {
  font-size: .85rem!important;
  line-height: 1.2rem!important;
  font-weight: 400!important;
}

.x-small {
  font-size: .7rem!important;
  line-height: 1rem!important;
}

p.lead {
  font-size: calc(1.1rem + 1vw)!important;
  line-height: calc(1.3rem + 1vw)!important;
}

.large {
  font-size: 18px!important;
  line-height: 1.6rem!important;
}

.lead {
  font-size: calc(3.5rem + 1vw)!important;
  line-height: calc(3.5rem + 1vw)!important;
}

.light {
  font-weight: 200!important;
}

.regular {
  font-weight: 300!important;
}

.medium {
  font-weight: 400!important;
}

.semi-bold {
  font-weight: 500!important;
}

.bold {
  font-weight: 600!important;
}

.heavy {
  font-weight: 700!important;
}

#mono {
  font-family: 'IBM Plex Mono', monospace!important;
}

.mono {
  font-family: 'IBM Plex Mono', monospace!important;
}

.uppercase {
  text-transform: uppercase;
}

h1, .h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(5rem + 1.5vw)!important;
  line-height: calc(5rem + 1.5vw)!important;
  letter-spacing: -0.045em!important;
}

h2, .h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(3.3rem + 1.5vw)!important;
  line-height: calc(3.6rem + 1.5vw)!important;
  letter-spacing: -0.045em!important;
}

h3, .h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(2.5rem + 1.5vw)!important;
  line-height: calc(2.5rem + 1.5vw)!important;
  letter-spacing: -0.015em!important;
}

h4, .h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.75rem!important;
  line-height: 1.75rem!important;
  letter-spacing: -0.015em!important;
}

h5, .h5 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3rem!important;
  line-height: 1.5rem!important;
  letter-spacing: -0.02em!important;
}

h6, .h6 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: .9rem!important;
}

h1.error, .h1.error {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 8.5em!important;
  line-height: .7em!important;
  letter-spacing: -0.045em!important;
}

/* forms */

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #2AB2FF!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0!important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 14px!important;
  font-weight: 300!important;
}

.form-check-input[type=checkbox] {
  border-radius: 0!important;
}

.form-check-input {

  border-color: #2AB2FF!important;
}

.form-check-input:checked {
  background-color: #2AB2FF!important;
  border-color: #2AB2FF!important;
}

/* buttons */

.btn {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px!important;
  border-radius: 0px!important;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn:hover {
  text-decoration: underline!important;
}

.btn-primary {
  border: 0px!important;
  border-radius: 0px!important;
}

.btn-primary.large {
  font-size: 19px!important;
}

.btn-dark-bg {
  color: #eee!important;
  border: 0px!important;
  border-radius: 0px!important;
}

a, .a {
  font-size: 16px!important;
  text-decoration: none!important;
}

a:hover, .a:hover {
  text-decoration: underline!important;
}

.arrow:after {
  content: url("/arrow-down.svg");
  position: relative;
  top: 0px;
  margin-left: 6px;
  display: inline-block;
  transform: rotate(270deg);
}

.arrow-white:after {
  content: url("/arrow-white.svg");
  margin-left: 10px;
  display: inline-block;
}

.arrow-white-large:after {
  content: url("/arrow-white-large.svg");
  margin-left: 30px;
  display: inline-block;
}

.arrow-dark-large:after {
  content: url("/arrow-dark-large.svg");
  margin-left: 30px;
  display: inline-block;
}

.arrow-down-white:after {
  content: url("/arrow-white.svg");
  margin-left: 5px;
  display: inline-block;
  transform: rotate(90deg);
}

.arrow-down:after {
  content: url("/arrow-down.svg");
  position: relative;
  top: 2px;
  margin-left: 3px;
  display: inline-block;
}

.arrow-up:after {
  content: url("/arrow-down.svg");
  position: relative;
  top: -2px;
  margin-left: 3px;
  display: inline-block;
  transform: rotate(180deg);
}

.link:after {
  content: url("/link.svg");
  position: relative;
  top: 2.5px;
  margin-left: 5px;
  display: inline-block;
}

.arrow-start:before {
  content: url("/l-arrow.svg");
  margin-right: 10px;
  display: inline-block;
  transform: rotate(180deg);
}

image.modern-illo {
  object-fit: fill!important;
  font-family: 'IBM Plex Mono', monospace!important;
}

.nowrap {
  white-space: nowrap;
}

/* animations */

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}


/* large screens */


@media screen and (min-width: 1800px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(9rem + 1.5vw)!important;
    line-height: calc(8.5rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(5.5rem + 1.5vw)!important;
    line-height: calc(5.5rem + 1.5vw)!important;
  }

  .bg-stripes-footer {
    background:
      linear-gradient(#eee 0 0) calc(1*99.8%/4),
      linear-gradient(#eee 0 0) calc(2*100%/4),
      linear-gradient(#eee 0 0) calc(3*100.1%/4);
    background-size:1px 100%; 
    background-repeat:no-repeat;
  }

}


@media screen and (max-width: 1800px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(9rem + 1.5vw)!important;
    line-height: calc(8.5rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }
  

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(4.75rem + 1.5vw)!important;
    line-height: calc(4.75rem + 1.5vw)!important;
  }

  h3, .h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(2rem + 1.5vw)!important;
    line-height: calc(2rem + 1.5vw)!important;
  }

  .bg-stripes-footer {
    background:
      linear-gradient(#eee 0 0) calc(1*99.8%/4),
      linear-gradient(#eee 0 0) calc(2*100%/4),
      linear-gradient(#eee 0 0) calc(3*100.1%/4);
    background-size:1px 100%; 
    background-repeat:no-repeat;
  }

}


@media screen and (max-width: 1600px){


  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(8rem + 1.5vw)!important;
    line-height: calc(7.5rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(3.5rem + 1.5vw)!important;
    line-height: calc(3.5rem + 1.5vw)!important;
  }

  .footer-min {
    min-height: 46vh;
  }

  .lead {
    font-size: calc(3rem + 1vw)!important;
    line-height: calc(3.2rem + 1vw)!important;
  }

}

/* custom */

@media screen and (max-width: 1400px){
  
  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(6.5rem + 1.5vw)!important;
    line-height: calc(6rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(4rem + 1.5vw)!important;
    line-height: calc(4rem + 1.5vw)!important;
  }

  .footer-min {
    min-height: 23vh;
  }

  .bg-stripes-4 {
  background:
  linear-gradient(#eee 0 0) calc(1*100%/3),
  linear-gradient(#eee 0 0) calc(2*100%/3);
background-size:1px 100%; 
background-repeat:no-repeat;
}

.bg-stripes-footer {
  background:
    linear-gradient(#eee 0 0) calc(1*100.1%/6),
    linear-gradient(#eee 0 0) calc(2*100%/6),
    linear-gradient(#eee 0 0) calc(3*100%/6),
    linear-gradient(#eee 0 0) calc(4*100.1%/6),
    linear-gradient(#eee 0 0) calc(5*100%/6);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}
  
}
  
@media screen and (max-width: 1200px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(5.5rem + 1.5vw)!important;
    line-height: calc(5.2rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(2.5rem + 1.5vw)!important;
    line-height: calc(2.5rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

.bg-stripes {
  background:
    linear-gradient(#eee 0 0) calc(1*100%/5),
    linear-gradient(#eee 0 0) calc(2*100%/5),
    linear-gradient(#eee 0 0) calc(3*100%/5),
    linear-gradient(#eee 0 0) calc(4*100%/5);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}

.bg-stripes-3 {
  background:
    linear-gradient(#eee 0 0) calc(1*100%/3),
    linear-gradient(#eee 0 0) calc(2*100%/3);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}

.footer-min {
  min-height: 23vh;
}

.bg-stripes-4 {
  background:
  linear-gradient(#eee 0 0) calc(1*100%/3),
  linear-gradient(#eee 0 0) calc(2*100%/3);
background-size:1px 100%; 
background-repeat:no-repeat;
}



}

/* laptop */

@media screen and (max-width: 1024px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(5rem + 1.5vw)!important;
    line-height: calc(4.5rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }


  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(2rem + 1.5vw)!important;
    line-height: calc(2rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(2rem + 1.5vw)!important;
    line-height: calc(2rem + 1.5vw)!important;
    letter-spacing: -0.015em!important;
  }

  .bg-stripes-3 {
    background:
    linear-gradient(#eee 0 0) calc(1*100%/3),
    linear-gradient(#eee 0 0) calc(2*100%/3);
  background-size:1px 100%; 
  background-repeat:no-repeat;
}




}

/* tablet */

@media screen and (max-width: 768px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(5em + 1.5vw)!important;
    line-height: calc(4.5rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(3rem + 1.5vw)!important;
    line-height: calc(3.3rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(3rem + 1.5vw)!important;
    line-height: calc(3rem + 1.5vw)!important;
  }

  .lead {
    font-size: calc(3rem + 1vw)!important;
    line-height: calc(3.2rem + 1vw)!important;
  }

  .brdr-lft {
    border-left: none!important;
  }

  .brdr-rght-lg {
    border-right: none!important;
  }

  .bg-stripes-3 {
    background:
      linear-gradient(#eee 0 0) calc(1*100%/6),
      linear-gradient(#eee 0 0) calc(2*100%/6),
      linear-gradient(#eee 0 0) calc(3*100%/6),
      linear-gradient(#eee 0 0) calc(4*100%/6),
      linear-gradient(#eee 0 0) calc(5*100%/6);
    background-size:1px 100%; 
    background-repeat:no-repeat;
  }

  .bg-stripes-4 {
    background:
      linear-gradient(#eee 0 0) calc(1*100.1%/6),
      linear-gradient(#eee 0 0) calc(2*100%/6),
      linear-gradient(#eee 0 0) calc(3*100%/6),
      linear-gradient(#eee 0 0) calc(4*100.1%/6),
      linear-gradient(#eee 0 0) calc(5*100%/6);
    background-size:1px 100%; 
    background-repeat:no-repeat;
  }
  


}

/* mobile */

@media screen and (max-width: 576px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(4rem + 1.5vw)!important;
    line-height: calc(4rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(2.8rem + 1.5vw)!important;
    line-height: calc(3.1rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(2rem + 1.5vw)!important;
    line-height: calc(2.3rem + 1.5vw)!important;
  }

  h4, .h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 21px!important;
    line-height: 21px!important;
    letter-spacing: -0.015em!important;
  }

  .lead {
    font-size: calc(2.7rem + 1vw)!important;
    line-height: calc(2.9rem + 1vw)!important;
  }

  .brdr-rght {
    border-right: none!important;
  }

  .brdr-rght-op {
    border-right: none!important;
  }

  .brdr-rght {
    border-right: none!important;
  }

}

@media screen and (max-width: 375px){
  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(3rem + 1.5vw)!important;
    line-height: calc(3rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }
  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(2.4rem + 1.5vw)!important;
    line-height: calc(2.6rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  .lead {
    font-size: calc(2rem + 1vw)!important;
    line-height: calc(2.2rem + 1vw)!important;
  }
}