@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
  padding: 0!important;
  margin: 0!important;
  color: #141414; 
  font-family: 'IBM Plex Sans', sans-serif, 'IBM Plex Mono', monospace!important;
}

* {
  box-sizing: border-box;
}

.cntnr-brdr {
  border-left: 1px solid #eaeaea!important;
  border-right: 1px solid #eaeaea!important;
}

.cntnr-brdr-op {
  border-left: 1px solid rgba(234, 234, 234, 0.2)!important;
  border-right: 1px solid rgba(234, 234, 234, 0.2)!important;
}

.vh-80 {
  height: 70vh;
}

.vh-70 {
  height: 70vh;
}

.vh-60 {
  height: 60vh;
}

.vh-50 {
  height: 50vh;
}

.vh-40 {
  height: 40vh;
}

.vh-30 {
  height: 30vh;
}

.vh-20 {
  height: 20vh;
}

.vh-10 {
  height: 10vh;
}

.brdr-lft {
  border-left: 1px solid #eaeaea;
}

.brdr-rght {
  border-right: 1px solid #eaeaea;
}

.brdr-tp {
  border-top: 1px solid #eaeaea;
}

.brdr-bttm {
  border-bottom: 1px solid #eaeaea;
}

.brdr-tp-dark {
  border-top: 1px solid #141414;
}

.brdr-lft-op {
  border-left: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-rght-op {
  border-right: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-rght-op-alt {
  border-right: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-tp-op {
  border-top: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-bttm-op {
  border-bottom: 1px solid rgba(234, 234, 234, 0.2);
}

.brdr-tp-white {
  border-top: 1px solid #eaeaea;
}

.dark-grey {
  color: #141414!important;
 }

.bg-dark-grey {
  background-color: #141414!important;
}

.white {
  color: #fff!important;
}

.bg-white {
  color: #fff!important;
}

.red {
  color: #FF2A50;
}

.bg-red {
  background-color: #FF2A50;
}

.pink {
  color: #f62681!important;
 }

 .bg-pink {
  background-color: #f62681!important;
  mix-blend-mode: multiply;
 }

 .purple {
   color: #8337F1!important;
 }

 .bg-purple {
  background-color: #8337F1!important;
  mix-blend-mode: multiply;
}

.bg-trans {
  background-color: transparent!important;
}

 .green {
  color: #41BDA7!important;
 }

 .bg-green {
  background-color: #41BDA7!important;
  mix-blend-mode: multiply;
 }

 .yellow {
  color: #FDF752!important;
 }

 .bg-yellow {
  background-color: #FDF752!important;
 }

.underline {
  text-decoration: underline!important;
}

.blue-pink {
  background: linear-gradient(129.71deg, #49C4EC -22.28%, #FF7EDB 150.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mask {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.w-full {
  width: 100%!important;
  height: auto!important;
}

.h-full {
  height: 100%!important;
}

.fixed {
  position: fixed;
}

.z-999 {
  z-index: 999!important;
  position: relative;
}

.z-0 {
  z-index: 0!important;
}

hr, .hr {
  border-top: 1px solid #eaeaea!important;
  opacity: 1!important;
  background-color: transparent!important;
}

hr.dark, .hr.dark {
  border-top: 1px solid #141414!important;
  opacity: 1!important;
  background-color: transparent!important;
}

hr.op, .hr.op {
  border-top: 1px solid #eaeaea!important;
  opacity: .2!important;
  background-color: transparent!important;
}

.pntr {
  cursor: pointer!important;
}


.card-visual {
  min-height: 350px;
}

.yellow-bg-circle {
  background-color:#FDF752;
  border-radius:100%;
}


/* Typography */

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: .95rem!important;
  letter-spacing: .01rem;
  font-weight: 300!important;
  line-height: 1.3rem!important;
  margin-bottom: 10px!important;
}

.small {
  font-size: .85rem!important;
  line-height: 1.2rem!important;
  font-weight: 400!important;
}

p.lead {
  font-size: calc(1rem + 1vw)!important;
  line-height: calc(1.3rem + 1vw)!important;
}

.light {
  font-weight: 200!important;
}

.regular {
  font-weight: 300!important;
}

.medium {
  font-weight: 400!important;
}

.semi-bold {
  font-weight: 500!important;
}

.bold {
  font-weight: 600!important;
}

.heavy {
  font-weight: 700!important;
}

.mono {
  font-family: 'IBM Plex Mono', monospace!important;
}

h1, .h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(4rem + 1.5vw)!important;
  line-height: calc(4rem + 1.5vw)!important;
  letter-spacing: -0.045em!important;
}

h2, .h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(2rem + 1.5vw)!important;
  line-height: calc(2rem + 1.5vw)!important;
  letter-spacing: -0.045em!important;
}

h3, .h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(1.2rem + 1.5vw)!important;
  line-height: calc(1.4rem + 1.5vw)!important;
  letter-spacing: -0.015em!important;
}

h4, .h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(.4rem + 1.5vw)!important;
  line-height: calc(.6rem + 1.5vw)!important;
  letter-spacing: -0.015em!important;
}

h5, .h5 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3rem!important;
  line-height: 1.5rem!important;
  letter-spacing: -0.02em!important;
}

h6, .h6 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: 1rem!important;
}

/* Forms */

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #141414;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eaeaea!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0!important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 14px!important;
  color: #eaeaea;
}


/* Buttons */

.btn {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px!important;
  border-radius: 0px!important;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #141414;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #141414!important;
  border: 0px!important;
  border-radius: 0px!important;
}

.btn-primary.large {
  font-size: 19px!important;
}

.btn-dark-bg {
  color: #eaeaea!important;
  border: 0px!important;
  border-radius: 0px!important;
}

a, .a {
  font-weight: 400!important;
}

.arrow:after {
  content: url("/r-arrow.svg");
  margin-left: 10px;
  display: inline-block;
}

.arrow-white:after {
  content: url("/arrow-white.svg");
  margin-left: 10px;
  display: inline-block;
}

.arrow-white-large:after {
  content: url("/arrow-white-large.svg");
  margin-left: 30px;
  display: inline-block;
}

.arrow-dark-large:after {
  content: url("/arrow-dark-large.svg");
  margin-left: 30px;
  display: inline-block;
}

.arrow-down-white:after {
  content: url("/arrow-white.svg");
  margin-left: 5px;
  display: inline-block;
  transform: rotate(90deg);
}

.arrow-down:after {
  content: url("/r-arrow.svg");
  margin-left: 5px;
  display: inline-block;
  transform: rotate(90deg);
}

.arrow-start:before {
  content: url("/l-arrow.svg");
  margin-right: 10px;
  display: inline-block;
  transform: rotate(180deg);
}

ul {
  list-style: none!important;
}

.no-underline {
  text-decoration: none!important;
}

/* laptop */

@media screen and (max-width: 1024px){

  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(.8rem + 1.5vw)!important;
    line-height: calc(1rem + 1.5vw)!important;
    letter-spacing: -0.015em!important;
  }

}

/* tablet */

@media screen and (max-width: 768px){

  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(.8rem + 1.5vw)!important;
    line-height: calc(1rem + 1.5vw)!important;
  }

}

/* mobile */

@media screen and (max-width: 576px){

  h1, .h1 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(2.6rem + 1.5vw)!important;
    line-height: calc(2.6rem + 1.5vw)!important;
    letter-spacing: -0.045em!important;
  }

  h2, .h2 {
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(1.2rem + 1.5vw)!important;
    line-height: calc(1.5rem + 1.5vw)!important;
  }

  h3, .h3{
    font-family: 'IBM Plex Sans', sans-serif;

    font-size: calc(.8rem + 1.5vw)!important;
    line-height: calc(.1rem + 1.5vw)!important;
  }

  h4, .h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px!important;
    line-height: 20px!important;
    letter-spacing: -0.015em!important;
  }


  .brdr-rght {
    border-right: none!important;
  }

  .brdr-rght-op {
    border-right: none!important;
  }
  
}